.firstButtons {
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.tabs {
  margin-right: 50px
}

.intro{
    margin-top: 70px;
    line-height: 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tabs2{
    height: auto
}

.name{
    font-family: san serif;
    font-size:  35px
}

.name2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  70px
}

.name3{
    font-size: 20px;
}

.secondButtons {
    display: flex;
    flex-direction: row;
    justify-content: center
}
