.firstButtons {
    color: rgb(208, 202, 202);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center
}

.tabs {
  margin-right: 50px
}

.intro{
    color:white;
    margin-top: 70px;
    line-height: 0em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center
}

/* .tabs2{
    height: auto
} */

.tabs3 {
    margin-right:25px;
    color:white
}

.tabs4 {
    margin-bottom:1em
}

.name{
    font-family: san serif;
    font-size:  35px;
    margin-bottom:-0.2em;
    padding-bottom:0em
}

.name2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:  70px;
    margin-bottom: 0.6em;
    padding-bottom:0em
}

.name3{
    font-size: 15px;
    color:rgb(183, 181, 181);
    margin-bottom: 150px;
}

.secondButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:small
}

.tabs5{
    margin-right:25px;
    color: greenyellow
}

.thirdButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
    font-family: san serif;
    font-size:  25px
}

#backgroundImage{

    /* color:grey; */
    background-image :url("Oliver.jpeg");
    text-align: center;
    justify-items: center;
    width: auto;
    
}

#downArea{
    background-color: rgb(39, 38, 38);
    margin-top: -1.5em;
    

}