html, body {
    margin: 0;
    padding: 0;
    /* min-width: 404px; */
} 

.backgroundImage {
    display: flex;
    flex-direction: column;
    background-image :url("Oliver.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:50rem 50rem ;
    background-color: rgb(105, 104, 104);
    gap: 6rem;
    /* align-items: center; */
}

.firstButtons {
    /* color: rgb(208, 202, 202); */
    background-color: rgb(247, 241, 241);
    display: flex;
    flex-direction: row;  /*default  display for display: flex is row, not needed except you want to change it to a different flex-direction*/
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}


/* .me {
    justify-content: right;
} */


.introMain{
    text-align: center;
    /* display: block; */
}

#font{
    font-family: sans-serif;
    font-size:2.5rem;
    line-height: 1; /* To remove the spacing that comes with increasing font size */
    margin: 0; /* To remove the spacing that comes with increasing font size */
    color: rgb(222, 217, 217);
}

#font2 {  
    font-family: arial;
    font-size: 3rem;
    color:white;
    line-height: 1;
    word-spacing: 1rem;
}

#font3 {
    font-family: sans-serif;
    font-size: 1.3rem;
    margin-bottom: 7rem;
    color: rgb(227, 217, 217);
    gap: 2rem;
}



.downArea{
    background-color: rgb(39, 38, 38);
    color: white;
    /* margin-top: 0%   */
}


.thirdButtons {
    display: flex;
    /* Automatically in row so no need for next line. */
    flex-direction: row; 
    justify-content: center;
    font-family: san serif;
    font-size:  1.25rem;
    gap: 1rem;
}

#featured {
    color: rgb(149, 144, 144);
}


.secondButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family:sans-serif;
    font-size:small;
    gap: 2rem;
    color: rgb(106, 103, 103);
    padding-bottom: 1rem;
}

#tabs {
    color: rgb(92, 146, 10);
}

.homePageImages{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}


.homePageImages img {
    width:15rem;
    height:auto;
}

.aboutTop {
    background-color: rgb(105, 104, 104);
    border: 0.5rem solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.5rem;
    

}

.aboutTop img {
    height: 25rem;
    width: auto;
    /* background-color: rgb(105, 104, 104); */
}

/*  */.headerBackground {
    background-color: rgb(105, 104, 104);
}

#aboutHeader {
    font-size: 2.5rem;
    text-decoration: underline;
    word-spacing: 0.5rem;
}

.aboutHeaderInfo {
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.aboutBottom {
    /* background-color:  rgb(39, 38, 38); */
    border: 0.5rem rgb(187, 23, 23);
    /* color: white; */
    font-size: 1rem;
}








